/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*config perso pour le site*/
/*
.light {
    height: 20px;
    margin: 25px;
    cursor: pointer;
}
*/
.form-control {
    border-radius: 20px;
}
.darkLight {
    background-color: #181818;
    color: white;
}

.darkLight input {
    background-color: #303030;
    border: none;
}

.darkLight li {
    background-color: #303030;
}

.navbarClass li {
    background-color: #222;
    
}
footer {
    background-color: #222;
    color: white;
    padding: 20px;
}

.logout {
   padding:25px;
   border: none;
   margin:0px;
}

footer p {
    margin: 0px;
}

input {
    border-radius: 20px;
    outline: none !important;
    box-sizing: border-box;
}

.list-group li{
    margin: 5px;
    border-radius: 20px;
}

.list-group li:first-child {
    border-radius: 50px;
}

.list-group li:last-child {
    border-radius: 50px;
}
button {
    color: white;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.navbar-brand {
    padding: 25px 15px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {

    color: white;
    background-color: rgba(0, 136, 169, 1);
    display: inline-block;
    cursor: pointer;
    padding: 9px 25px;
    border-radius: 25px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

svg:not(:root) {
    overflow: hidden;
}

svg {
    fill: currentColor;
}

#errorMusic {
    color:red;
}